@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Philosopher&display=swap');

header {
    font-family: Philosopher, sans-serif;
}

section {
    font-family: Didact Gothic, sans-serif;
}

footer {
    font-family: Didact Gothic, sans-serif;
}