@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Philosopher&display=swap');

body {
    font-family: Didact Gothic, sans-serif;
    color: #3a3a3a;
    background-color: #ffffff;
}

/*logo and navigation*/
header {
    font-family: Philosopher, sans-serif;
    color: #3a3a3a;
}

#logo {
    margin: 0;
    padding: 0;
    border: none;
    letter-spacing: 2px;
    font-size: 270%;
    float: left;
}

a {
    color: #3a3a3a;
    text-decoration: none;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 140%;
}

#navbar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*home page sections*/
#image-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#image {
    height: 500px;
    width: 100%;
    background: url('../images/shutterstock_568192618.jpg') no-repeat center center;
    background-size: 100% 100%;
}

#studio-info {
    height: 400px;
    width: 100%;
    background-color: #3a3a3a;
    margin-top: 5px;
}

#community {
    height: 400px;
    width: 100%;
    background: url('../images/shutterstock_341991797.jpg') no-repeat center center;
    background-size: 100% 100%;
    margin-top: 5px;
}

/*footer containing social links*/
footer {
    margin-top: 5px;
    height: 100px;
    width: 100%;
}

.social-links {
    text-align: center;
    height: 60px;
    overflow: hidden;
}

.social-links > li {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    padding-top: 20px;

}

.social-links i {
    font-size: 130%;
    margin: 0;
    padding: 5%;
    color: #3a3a3a;
}